$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

html{
  font-size: 10px;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

/* Custom page header */
.header {
  border-bottom: .1rem solid #e5e5e5;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 4rem;
    padding-bottom: 2rem;
  }
}

/* Custom page footer */
.footer {
  padding-top: 2rem;
  color: #777;
  border-top: .1rem solid #e5e5e5;
}

.container-narrow > hr {
  margin: 3rem 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: .1rem solid #e5e5e5;
  background: transparent url('../images/hero.jpg') no-repeat center center / cover;

  .btn {
    background-color: rgba(#fff, .2);
    border: none;
    font-size: 2.1rem;
    padding: 1.5rem 2.5rem;
    margin-top: 4rem;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 4rem 0;
  p + h4 {
    margin-top: 2.8rem;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
  .header {
    margin-bottom: 3.0rem;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
    color: #fff;
    font: 700 "Helvetica", Arial, Sans-serif;


  }
}

#search-button{
  margin-left: 1.5rem;
}
